.Account-page{
  min-height: 100vh;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
}

#Reports{
  padding: 2em;
  text-align: center;
}


#MonthlyReports{
  padding: 2em;
  text-align: left;
}


#BarChart{
  display: flex;
  padding-left: auto;
  padding-right: 2em;
  min-height: 250px;
}

#QueueDisplay{
  padding-top: 2em;
  padding-bottom: 10em;
  text-align: center;
}

#Customers{
  padding: 2em;
  text-align: left;
}

.Drag{
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  width: 110px;
  height: 110px;
  margin: 10px;
  padding: 10px;
  float: left;
}

.handle{
  cursor: move;
  background: #fff;
  border: 10px solid #999;
}